@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"] *));
@plugin "daisyui";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

.roboto {
  font-family: var(--font-roboto);
}
.montserrat {
  font-family: var(--font-montserrat);
}
.manrope {
  font-family: var(--font-manrope);
}

body {
  font-family: var(--font-montserrat);
}

@layer components {
  .nav-link {
    @apply relative inline-block px-2 text-base font-medium
      transition-colors duration-200 ease-in-out
      /* Underline animation */
      after:content-[''] after:absolute after:left-0 after:bottom-0
      after:w-full after:h-0.5 after:bg-current after:scale-x-0
      after:origin-center after:transition-transform after:duration-300
      hover:after:scale-x-100;
  }

  .nav-link:hover {
    text-shadow: 0 0 0.5px currentColor;
  }

  .input-base {
    @apply block w-full ps-12 pe-3 py-2.5 border text-sm shadow-xs;
  }

  .button-base {
    @apply border p-2 cursor-pointer disabled:cursor-not-allowed bg-black text-white hover:bg-transparent hover:text-black transition-colors duration-600 
          dark:text-white dark:bg-transparent dark:hover:bg-white font-bold;
  }
}

@layer base {
  input,
  textarea,
  select,
  button {
    font-family: inherit;
  }
}
