# Dependency directories 
**/node_modules/
**/.serverless/
**/jspm_packages/

# Build outputs 
**/dist/
**/build/
**/.cache/
**/.out/
**/.next/

# Logs & temp files 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment 
**/.env
**/.env.*
!.env.example  # Keep example files
**/.env.local
**/.env.development

# Sensitive files 
*.key
*.pem
*.cert

# IDE 
!.vscode/extensions.json  # Keep recommended extensions